.bodyForgotPW {
    background: url(https://raw.githubusercontent.com/Tuan2210/TH_CongNgheMoi/master/data%20MLine/bgcolor.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    margin: 0;
    padding: 0;
    //ko cho chuột bôi đen trừ input
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.forgotpw-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    border-radius: 12px;
    min-width: 20%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo {
    width: 150px;
    cursor: default;
    pointer-events: none;
}

.logo img {
    width: 160px;
}

#line {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 900;
    color: rgb(250, 139, 158);
    margin-top: -12%;
}

.formForgotPW {
    display: flex;
    margin-top: 2rem;
    font-size: 2.5vh;
    font-weight: 600;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 370px;
    background-color: #fff;
    box-shadow: 1px 1px 40px 3px rgba(0, 0, 0, 0.4);
    padding-bottom: 2%;
    border-radius: 5%;
}

.txtSdtForgotPW,
.txtNewPW,
.txtConfirmNewPW {
    border: none;
    padding: 0.35rem;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    border-radius: 4px;
    width: 87%;
    border-bottom: 1px solid lightgray;
}

.txtSdtForgotPW:hover,
.txtNewPW:hover,
.txtConfirmNewPW:hover {
    background-color: #d57ad328;
}

.txtSdtForgotPW {
    width: 100%;
}

.txtNewPW,
.txtConfirmNewPW {
    width: 85%;
    margin-right: 6px;
}

.lblTkForgotPW,
.lblMKMoi,
.lblXacNhanMK,
.txtSdtForgotPW,
.txtNewPW,
.txtConfirmNewPW,
.btnNewPW {
    margin-top: 8%;
}

.btnNewPW {
    align-self: center;
    margin-top: 10%;
    font-size: 1rem;
    padding: 3%;
    width: 45%;
    border: 1px solid #D57AD4;
    border-radius: 10%;
    color: white;
    background-color: #D57AD4;
}

.btnNewPW:hover {
    background-color: #fff;
    border: 1px solid rgb(250, 139, 158);
    color: rgb(250, 139, 158);
}

.comback-login {
    text-decoration: none;
    margin-top: 1rem;
    color: #D57AD4;
    font-weight: 700;
    font-size: 1rem;
}

.comback-login:hover {
    color: rgb(250, 139, 158);
}