body {
    background: url(https://data-mline-congnghemoi.s3.ap-southeast-1.amazonaws.com/bgcolor.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    margin: 0;
    padding: 0;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    border-radius: 12px;
    min-width: 20%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo img {
    width: 12vw;
}

#line {
    font-size: 6vh;
    font-weight: 900;
    color: rgb(250, 139, 158);
}

.login-title {
    font-weight: 700;
    font-size: 4vh;
    margin-top: 2%;
}

form {
    display: flex;
    margin-top: 1rem;
    font-size: 2.5vh;
    font-weight: 600;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 80%;
}

input[type='text'],
input[type='password'] {
    border: none;
    padding: 0.35rem;
    font-family: "Inter", sans-serif;
    margin: 0.75rem 0;
    border-radius: 4px;
    width: 60%;
    margin-left: 10%;
}

label,
input,
button,
p {
    margin-top: 8%;
}

button[type='submit'] {
    align-self: center;
    margin-top: 5%;
    font-size: 1rem;
    padding: 5%;
    width: 35%;
    border: 1px solid #D57AD4;
    border-radius: 10%;
    color: white;
    background-color: #D57AD4;
}

button[type='submit']:hover {
    background-color: #fff;
    border: 1px solid rgb(250, 139, 158);
    color: rgb(250, 139, 158);
}

.login-register {
    margin: 2rem 1rem 0 1rem;
    font-size: 1rem;
}

p,
.login-register-link,
.forgotpw-link {
    text-decoration: none;
    margin-top: 1rem;
    color: #fff;
    font-weight: 700;
}

.forgotpw-link {
    float: right;
    margin-right: 7.5%;
    margin-top: -1%;
}

.login-register-link:hover,
.forgotpw-link:hover {
    color: #D57AD4;
}