@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';

:root {
    --primary: #0d6efd;
}

html {
    font-size: 100%;
}
body {
    font-family: 'DM Sans';
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}
