.modalDialogOutGroup {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 400px;

    background-color: #fff;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
        'Open Sans', 'Helvetica Neue', sans-serif;

    &:focus-visible {
        outline: none;
    }

    .modalTitle {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 10px 20px;
        border-bottom: 1px solid #c4c4c4;
        gap: 10px;

        p {
            font-size: 18px;
            margin: 0;
        }
    }

    .modalContent {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 10px 20px;
        gap: 10px;

        height: 300px;

        .ContainListUser {
            flex: 1;
            display: flex;
            flex-direction: row;
            gap: 10px;

            .ListUser {
                flex: 1;

                .listItem {
                    height: 290px;

                    overflow-y: scroll;

                    .css-cveggr-MuiListItemIcon-root {
                        min-width: auto;
                    }
                }
            }

            .ListUserSelect {
                flex: 1;
                padding: 10px;

                border: 1px solid #c4c4c4;
                border-radius: 10px;

                overflow-y: scroll;
            }
        }
    }

    .modalButton {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 20px;
        padding: 10px 20px;

        border-top: 1px solid #c4c4c4;
    }
}
