.imgBackground{
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.logo{
    width: 180; 
    height: 150; 
    margin: 60px;
}
.line{
    font-size: 2.5rem;
    font-weight: bold;
    color: rgb(250, 139, 158);
    margin-top: -30px;
    align-self: center;
    margin-top: -180px;
    margin-left: 165px;
}
.tittle{
    margin: 80px;
    font-size: 20;
    font-weight:600;
}
.info{
    margin-left: 45;
    margin-top: -70px;
    font-size: 17;
    font-weight: 400;
}
.inputSDT{
    margin-left: 65px;
    margin-top: 30px;
    height: 50;
    width: 300;
    border-radius: 20px;
    border-color: black;
    border-width: 1px;
}
.viewbot{
    padding-top: 200px;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px;
}
.btnCon{
    background-color: #D57AD4;
    border-radius: 20px;
    padding: 2px;
    height: 50;
    width: 150;
}
.txtCon{
    color: white;
    font-size: 22;
    margin-left: 26px;
    margin-top: 8px;
    font-weight: 600;
}
