.containerListFriend {
    width: 340px;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid #e4e4e4;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
        'Open Sans', 'Helvetica Neue', sans-serif;

    .search {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px;
        gap: 10px;

        width: 100%;
        height: 112px;

        border-bottom: 1px solid #e4e4e4;

        .titleSearch {
            margin: 0px;
            font-weight: 500;
            font-size: 18px;
        }

        .actionSearch {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 0px;
            gap: 10px;

            .css-ikzlcq {
                flex: 1;
            }

            .css-1p5q5e5-MuiStack-root {
                flex: 1;
            }

            .buttonGroup {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 10px;
                cursor: pointer;

                border-radius: 10px;

                img {
                    width: 24px;
                }

                &:hover {
                    background-color: #e1e1e1;
                }
            }
        }
    }

    .list-item {
        display: flex;
        flex-direction: column;
        padding: 10px;
        overflow-y: scroll;

        flex: 1;

        .item {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 10px;
            gap: 10px;
            border-width: 0px;

            background: #ffffff;
            border-radius: 10px;

            &:hover {
                background-color: #f5f5f5;
            }

            img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
            }

            .content-item {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                gap: 2px;

                width: calc(100% - 70px);

                p {
                    font-weight: 500;
                    font-size: 16px;
                    margin: 0;
                    color: #000;
                    text-align: initial;
                    white-space: nowrap;
                    overflow: hidden;
                    width: 100%;
                    text-overflow: ellipsis;
                }

                .supchat {
                    font-weight: 400;
                    font-size: 14px;
                    color: #898989;
                }
            }

            .dot {
                width: 10px;
                height: 10px;

                border-radius: 50%;
            }

            .active {
                background: #00ff66;
            }
            .disable {
                background: #c4c4c4;
            }
        }
    }
}

.modalGroup {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 95%;
    border-radius: 10px;

    background-color: #fff;
    box-shadow: 24px;

    &:focus-visible {
        outline: none;
    }

    .headerModal {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0px 20px;
        border-bottom: 1px solid #bbbbbb;

        height: 60px;

        p {
            font-weight: 700;
            font-size: 18px;
            margin: 0;
        }
    }

    .content {
        display: flex;
        flex-direction: column;

        height: calc(100% - 60px);

        .bodyModal {
            flex: 1;
            display: flex;
            flex-direction: column;
            padding: 0 10px;
            gap: 10px;

            .boxTextInput {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 0 10px 20px;
                gap: 20px;

                width: 100%;

                border-bottom: 1px solid #bbbbbb;

                .groupName {
                    width: 100%;
                }
            }

            .addUserGroup {
                display: flex;
                flex-direction: row;
                gap: 10px;

                width: 100%;
                height: 100%;

                .listFriendModal {
                    flex: 1;

                    height: 100%;

                    p {
                        font-size: 18px;
                        font-weight: 500px;
                        margin: 0;
                    }

                    .listItem {
                        overflow-y: scroll;
                        height: 420px;

                        img {
                            width: 100%;
                        }
                    }
                }

                .listFriendSelectModal {
                    flex: 1;

                    p {
                        font-size: 18px;
                        font-weight: 500px;
                        margin: 0;
                    }

                    .listItem {
                        overflow-y: scroll;
                        height: 420px;
                    }
                }
            }
        }

        .footerModal {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            padding: 10px 20px;
            gap: 10px;

            height: 60px;

            border-top: 1px solid #bbbbbb;

            Button {
                p {
                    font-size: 16px;
                    font-weight: 700;
                    margin: 0;
                }
            }
        }
    }
}
