/* Create Space height 10px */
.space-height {
    height: 10px;
    display: block;
    width: 100%;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.flex-row {
    display: flex;
    flex-direction: row;
}
.scroller-column {
    overflow-y: scroll;
}
.fix-height-screen {
    max-height: 100vh;
}

/*The right bar content all*/
.main-right {
    flex: 30%;
    max-width: 600px;
    min-width: 200px;
    border-left: 1px solid black;
}
/* title */
.title {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid;
}
.btn {
    width: calc(100%/3);
    margin: 0px;
    border-radius: 0px !important;
}
.list-item {
    flex: auto;
}

@media screen and (max-width: 1700px) {
    .main-right {
        position: fixed;
        right: 0;
        width: inherit;
    }
    
}