/* Create Space height 10px */
.space-height {
    height: 10px;
    display: block;
    width: 100%;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.flex-row {
    display: flex;
    flex-direction: row;
}
.scroller-column {
    overflow-y: scroll;
}

/* Container */
/* Left Bar */
.container-left {
    width: 350px;
}
/* contain of Avata and input Search */
.container-left .avata-search {
    text-align: center;
    padding: 10px;
}
/* Avata */
.avata {
    margin-bottom: 10px;
}
.avata img {
    margin-bottom: 10px;
    max-width: 80px;
}
/*User name logging on*/
.user-name {
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
}
/* Input Search */
/* input text search */
.search {
    width: 100%;
    margin: 0 10px;
}
.search label {
    font-size: 16px;
}

.search input {
    font-size: 16px;
    padding: 0;
}

/* List Item */
.container-left .list-item {
    flex: auto;
}
// Item
.list-item > button {
    border-width: 0;
}
.item {
    padding: 10px;
    background-color: white;
    border-width: 0;
}
.item:hover {
    background-color: rgb(238 239 242);
}
// Image of Item
.item img {
    flex: 20%;
    max-width: 40px;
    margin-right: 10px;
    justify-content: center;
    align-self: center;
}
// Text of Item
.item .content-item {
    flex: 80%;
    align-items: flex-start;
}
.content-item p {
    font-weight: bold;
    font-size: 16px;
    margin: 0;
}
.content-item span {
    font-size: 14px;
    color: rgb(146, 146, 146);
}
.content-item p,
span {
    max-width: 260px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
