/* Create Space height 10px */
.space-height {
    height: 10px;
    display: block;
    width: 100%;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.flex-row {
    display: flex;
    flex-direction: row;
}
.scroller-column {
    overflow-y: scroll;
}
.fix-height-screen {
    max-height: 100vh;
}

/*The right bar content all*/
.main-right {
    width: 340px;
}
.main-right-none {
    display: none;
}
/* title */
.title {
    margin-top: 20px;
    text-align: center;
    align-items: center;
}
.title p {
    font-size: 20px;
    font-weight: 700;
}
.btn {
    width: calc(100% / 3);
    margin: 0px;
    border-radius: 0px !important;
}
.list-item {
    height: 100vh;
}

@media screen and (max-width: 1200px) {
    .main-right {
        width: 340px;
        right: 0;
        top: 0;
        z-index: 2;
        position: absolute;
    }

    .list-item {
        width: 340px;
        background-color: white;
        box-shadow: -4px 0 8px 0 rgba(0, 0, 0, 0.2);
    }

    .bg-auto {
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        position: fixed;
        z-index: -1;
    }
}
