.container {
    margin: 0;
    padding: 0;
}

.imgBG,
.whiteBG {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.whiteBG {
    background-color: #DFDFDF;
}

.txtLine {
    font-size: 2.5rem;
    font-weight: bold;
    color: rgb(250, 139, 158);
    margin-top: -30px;
    align-self: center;
}

.btnLoginByPhone {
    background-color: rgb(250, 139, 158);
    border-radius: 10px;
    padding: 3%;
}

.styleInput {
    background-color: rgba(211, 211, 211, 0.404);
    // border: 1px solid #D57AD4;
    width: 210px;
    height: 40px;
    font-size: 17px;
    margin: 5px 0 5px 0;
    padding-left: 10px;
}

.errorMess {
    color: red;
    font-style: italic;
    font-weight: bold;
    font-size: 1.1rem;
    align-self: flex-start;
    margin-left: 8%;
    margin-top: -5%;
}

.currentLoginMobile {
    text-decoration: none;
    color: rgb(250, 139, 158);
    font-weight: 700;
    font-size: 1rem;
    align-self: center;
}