.main-blank {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("https://demoaccesss3week2.s3.ap-southeast-1.amazonaws.com/bgcolor.png");
}